# Default ignored files
/../../PythonProjectlab6 /.idea/shelf/
/../../PythonProjectlab6 /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../PythonProjectlab6 /.idea/httpRequests/
# Datasource local storage ignored files
/../../PythonProjectlab6 /.idea/dataSources/
/../../PythonProjectlab6 /.idea/dataSources.local.xml
